<!DOCTYPE html>
<html>
<link href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Book Taxi Confirmation</title>

<style>


div{
	margin-top:30px;
	margin-right:50px;
}

li{
	font-size: 18px;
}

</style>
</head>
<body>


	<div> <strong>${userName}</strong> 您好，</div>

	<h4>以下是您的預約叫車資訊:</h4>
	<ul>
        <li>預約叫車單位: ${taxi}</li>
        <li>預約地點: ${loc}</li>
        <li>預約日期: ${date}</li>
        <li>預約時間: ${hour}:${min}</li>
		<li>您的聯絡電話為: ${tel}</li>
    </ul>
	<div>**請確認上述資料無誤，當天會有司機與您聯絡**</div>
	
	<div>※備註: 如要刪除或是修改叫車內容，可在預約叫車前一天登入會員進行修改。
	如當天需要臨時取消或更改，請直接打電話與該公司聯絡，感謝</div>
	<div>※如果有任何疑問，歡迎您向客服中心進行詢問。</div>
	<div>非常感謝您在健康悠生網預定叫車！</div>
	<div>
		<a href="http://localhost:8080/">【健康悠生網】</a>
	</div>

</body>
</html>